[*.cs]

# CA1062: 验证公共方法的参数
dotnet_diagnostic.CA1062.severity = suggestion

# CA2007: 考虑对等待的任务调用 ConfigureAwait
dotnet_diagnostic.CA2007.severity = suggestion

# CA1032: 实现标准异常构造函数
dotnet_diagnostic.CA1032.severity = suggestion
